.footer_div
    .wrapper
        .footer_cols_flex
            .footer_col_1
                a(href="#").footer_logo
                div.footer_tel_div
                    a(href="tel:+380443373667").footer_tel
                        svg(data-v-03281b4e="" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M19.44 13c-.22 0-.45-.07-.67-.12a9.443 9.443 0 01-1.31-.39 2 2 0 00-2.48 1l-.22.45a12.18 12.18 0 01-2.66-2 12.18 12.18 0 01-2-2.66l.42-.28a2 2 0 001-2.48 10.32 10.32 0 01-.39-1.31c-.05-.22-.09-.45-.12-.68a3 3 0 00-3-2.49h-3a3 3 0 00-3 3.41 19 19 0 0016.52 16.46h.38a3 3 0 002.742-1.778 3 3 0 00.258-1.232v-3a3 3 0 00-2.47-2.9zm.5 6a1 1 0 01-.723.962 1.05 1.05 0 01-.437.038A17 17 0 014.07 5.22a1.09 1.09 0 01.25-.82 1 1 0 01.75-.34h3a1 1 0 011 .79 11.301 11.301 0 00.61 2.36l-1.4.65a1 1 0 00-.49 1.33 14.49 14.49 0 007 7 1 1 0 00.76 0 1.002 1.002 0 00.57-.52l.62-1.4a13.79 13.79 0 001.58.46c.267.06.537.11.81.15a1 1 0 01.79 1l.02 3.12z" fill="#fff")
                        p +38 044 337 36 67
                div.footer_mail_div
                    a(href="mailto:info@miloan.ua").footer_mail
                        svg(data-v-03281b4e="" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M21.75 5.232a.72.72 0 00-.082-.321.86.86 0 00-.078-.123.705.705 0 00-.025-.03l-.012-.015-.011-.01a.74.74 0 00-.114-.098l-.028-.019-.034-.02-.03-.016-.034-.016-.034-.014-.034-.012-.037-.01-.033-.01a.773.773 0 00-.148-.017L21 4.5H2.985a.753.753 0 00-.113.012l-.036.006-.035.01-.035.01-.035.012-.032.013-.036.018c-.01.004-.02.01-.029.015a.75.75 0 00-.035.02l-.027.018a.71.71 0 00-.114.098l-.01.011-.013.015a.783.783 0 00-.146.255.777.777 0 00-.038.22l-.001.017V18a1.502 1.502 0 001.5 1.5h16.5a1.502 1.502 0 001.5-1.5V5.232zm-18 1.723L9.254 12 3.75 17.045V6.955zM4.928 18l5.436-4.982 1.13 1.035a.75.75 0 001.013 0l1.13-1.036L19.071 18H4.928zm9.818-6l5.504-5.045v10.09L14.747 12z" fill="#fff")
                        p info@miloan.ua
                div.footer_col_1_last_div
                    svg(data-v-03281b4e="" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M13.098 10.634L11 9.423V5a1 1 0 00-2 0v5a1 1 0 00.5.866l2.598 1.5a1 1 0 101-1.732zM10 0a10 10 0 1010 10A10.011 10.011 0 0010 0zm0 18a8 8 0 118-8 8.01 8.01 0 01-8 8z" fill="#fff")
                    p.footer_time 8:00 - 20:00
                p.footer_p Свідоцтво №16103409 ІК №176 про реєстрацію фінансової установи, видане Нацкомфінпослуг 14.07.2016 р Всі документи доступні за <a href="#">посиланням</a>
            .footer_col_2
                ul
                    li
                        a(href="#") Про Miloan
                    li
                        a(href="#") Калькулятор кредиту
                    li
                        a(href="#") Особливості кредитування
                    li
                        a(href="#") Як погасити кредит
                    li
                        a(href="#") Допомога
                    li
                        a(href="#") Акції
                    li
                        a(href="#") Блог
            .footer_col_3
                p Завантажте додаток
                a(href="#").app_store
                a(href="#").play_market
    hr.footer_hr
    p.footer_copyright © 2016 - 2022 ТОВ «Мілоан»
